{
  "name": "sjk_poliklinisk-notat",
  "forms": "src/forms",
  "form_scripts": "src/form-scripts",
  "form_tests": null,
  "opts": "src/operational-templates",
  "data": "data",
  "foldertemplates": null,
  "vaqms": "src/vaqms",
  "archetypes": "definition/archetypes",
  "templates": "definition/templates",
  "concepts": null,
  "queries": "definition/aql"
}